#mega-footer ul.menu.nav li a:hover{
    opacity: 0.5;
}
#mega-footer a:link,
#mega-footer a:visited,
#mega-footer a:hover
{
    color: #CCC;
    text-decoration: none;
    border-bottom: 1px dotted #CCC;
}