{#
/**
 * @file
 *Default theme for RTD Footer.
 */
#}
<div id="mega-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <p><img alt="Office of Knowledge Enterprise Development"
                        src="/themes/asu/images/DTN-logo-reversed.png"/></p>

                <h1>Decision Theater</h1>

                <div class="address">21 East 6th Street, Suite 126A</div>

                <div class="address">Tempe, Arizona 85281</div>

                <br/>

                <div class="address">P.O. Box 878409</div>

                <div class="address">Tempe, Arizona 85287-8409</div>

                <br/>

                <div class="address">Phone: 480.965.4098</div>


                <div>
                    <ul class="social-media">
                        <li><a href="https://www.facebook.com/dt.asu.edu" target="_blank" title="Facebook"><span
                                        class="sr-only">Facebook</span><i class="fa fa-facebook-square"
                                                                          aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/DT_ASU" target="_blank" title="Twitter"><span class="sr-only">Twitter</span><i
                                        class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
                <ul class="menu nav">
                    <li class="first leaf active"><a class="active" href="/">Home</a></li>
                    <li class="leaf"><a class="sf-depth-1" href="/technology">Technology</a></li>
                    <li class="leaf"><a class="sf-depth-1" href="/solutions">Solutions</a></li>
                    <li class="leaf"><a class="sf-depth-1" href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
